body {

    margin:0;
    background-color: #EBF5FB;
    background-image: url("icon-1/3.png"), url("icon-1/8.png");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.div {
    width: 660px;
    padding: 10px;
    border: 5px solid gray;
    margin: 50px 230px 250px 330px;
    text-align: center;
}

.div1 {
    width: 660px;
    padding: 10px;
    margin: 50px 230px 250px 330px;
    text-align: center;
}

form {
    width: 660px;
    padding: 10px;
    border: 5px solid gray;
    margin: -250px 330px;
    text-align: left;
}


p {
    font-size: 17px;
    font-family: Trebuchet MS;
}



h1 {
    font-family: Trebuchet MS;
    font-size: 22px;
}

ul li {
  float: left;
  list-style-type: none;
  margin: 0 6px;
  font-family: Trebuchet MS;
}

nav ul li {
    list-style-type: none;
    margin:10px;
    float: right;
    padding-right: 30px;
}

nav ul li:first-child {
    float: left;

}


li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}


#about {
    width: 100%;
    float: left;
    margin: 520px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}